.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-top: solid 1px #234;
  background-color: #567;
  font-size: 0;
  white-space: nowrap;
}

.navigation-controls {
  text-align: left;
}
.history-controls {
  text-align: right;
}

.control {
  display: inline-block;
  width: auto;
  height: auto;
  border-width: 0;
  border-radius: 5px;
  margin: 0 4px;
  padding: 3px 6px;
  background-color: #234;
  color: #fff;
  font-size: 0;
  &:focus {
    outline-width: 0;
  }
  &:hover:active {
    border-color: #36c;
    background-color: #5be;
    color: #fff;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  svg {
    fill: currentColor;
    $icon-size: 30px;
    width: $icon-size;
    height: $icon-size;
  }
}

// Style related controls to be closer together
.control-prev-frame,
.control-undo {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.control-next-frame,
.control-redo {
  margin-left: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.control-prev-frame svg,
.control-next-frame svg {
  transform: translateY(-1px);
}
.control-add-frame svg {
  transform: translateY(1px);
}

.control-redo svg {
  transform: scaleX(-1);
}
