body {
  width: 100%;
  max-width: $app-max-width;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: 0;
  text-align: center;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.app {
  display: inline-flex;
  flex-direction: column;
  &:focus {
    outline-width: 0;
  }
}
