.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  border-top: solid 1px $panel-background-color;
  background-color: $panel-background-color;
  font-size: 0;
  white-space: nowrap;
}

.control-group {
  position: relative;
  margin-right: 20px;
  &:last-of-type {
    margin-right: 0;
  }
}
.control-group-frames {
  margin-right: $control-padding;
}

.control {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  font-size: 0;
}
.control-has-label {
  display: block;
  margin: 5px 0;
}
.control-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  padding: $control-padding;
  background-color: $control-background-color;
  color: #fff;
  font-family: inherit;
  font-size: 0;
  &:focus {
    outline-width: 0;
  }
  &:hover:active {
    background-color: $control-background-color-active;
    color: #fff;
  }
  .panel & {
    padding: $control-padding-panel;
    border-radius: ($panel-border-radius - $story-list-header-padding);
  }
  .control-has-label & {
    background-color: $control-background-color-labeled;
    white-space: nowrap;
  }
}
.control-icon {
  pointer-events: none;
  fill: currentColor;
  $icon-size: 24px;
  width: $icon-size;
  height: $icon-size;
  &:not(:only-child) {
    margin-right: 3px;
  }
}
.control-label {
  font-size: 0.8rem;
}

.control-play-story {
  display: inline-block;
  .story-playing & {
    display: none;
  }
}
.control-pause-story {
  display: none;
  .story-playing & {
    display: inline-block;
  }
}

.control-rename-story {
  .control-button {
    margin-left: 5px;
    border-radius: 3px;
    padding: 2px;
  }
}
