body {
  width: $frame-width + ($story-border-width * 2);
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  text-align: center;
  cursor: default;
  user-select: none;
}
