body {
  width: 100%;
  max-width: $app-max-width;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-size: 0;
  text-align: center;
  cursor: default;
  user-select: none;
}
