.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-top: solid 1px $control-background-color;
  background-color: #567;
  font-size: 0;
  white-space: nowrap;
}

.controls > *,
.control-group {
  margin-right: 20px;
  &:last-of-type {
    margin-right: 0;
  }
}

.control-group {
  position: relative;
}

.control {
  display: inline-block;
  width: auto;
  height: auto;
  border-width: 0;
  padding: 3px 6px;
  background-color: $control-background-color;
  color: #fff;
  font-size: 0;
  margin-left: 2px;
  &:focus {
    outline-width: 0;
  }
  &:hover {
    border-color: #36c;
    background-color: #5be;
    color: #fff;
  }
  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-of-type,
  &.control-play-story {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &:only-of-type {
      margin-left: 0;
    }
  }
  svg {
    fill: currentColor;
    $icon-size: 30px;
    width: $icon-size;
    height: $icon-size;
  }
}

.control-play-story {
  display: inline-block;
  .story-playing & {
    display: none;
  }
}
.control-pause-story {
  display: none;
  .story-playing & {
    display: inline-block;
  }
}

.control-prev-frame svg,
.control-next-frame svg {
  transform: translateY(-1px);
}
.control-add-frame svg {
  transform: translateY(1px);
}
.control-export-to-gif svg {
  transform: translateY(2px);
}

.control-redo svg {
  transform: scaleX(-1);
}
