@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.export-screen {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(#000, 0.8);
  transition: all 250ms ease-in-out;
  transition-property: visibility, opacity;
  color: #fff;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
.export-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.export-heading {
  pointer-events: none;
  margin-bottom: 0;
  font-size: 2rem;
}
.export-message {
  pointer-events: none;
  font-size: 1.1rem;
}
.export-loading-icon {
  display: none;
  pointer-events: none;
  margin: 0 auto;
  width: 50%;
  fill: none;
  stroke: currentColor;
  stroke-width: 0.5;
  animation: loading 1000ms linear infinite;
  &.visible {
    display: block;
  }
}

.exported-image {
  opacity: 0;
  max-width: 800px;
  width: 100%;
  animation: fade-in 100ms ease-in-out forwards;
}
