@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.export-gif-screen {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(#000, 0.8);
  transition: all 250ms ease-in-out;
  transition-property: visibility, opacity;
  color: #fff;
  white-space: normal;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
.export-gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.export-gif-heading {
  pointer-events: none;
  margin-bottom: 0;
  font-size: 2rem;
}
.export-gif-message {
  pointer-events: none;
  font-size: 1.1rem;
}
.export-gif-screen .progress-bar {
  pointer-events: none;
  width: 200px;
  height: 30px;
}

.exported-image {
  opacity: 0;
  animation: fade-in 100ms ease-in-out forwards;
  // Default to the natural width of the image, unless it exceeds the viewport
  // width OR the below max $frame-width
  width: auto;
  max-width: 100%;
  @media screen and (min-width: $frame-width) {
    max-width: $frame-width;
  }
}

.control-close-export-gif-overlay {
  position: absolute;
  top: 0;
  right: 0;
  .control-button {
    background: none;
    &:hover:active {
      border-bottom-left-radius: $panel-border-radius;
    }
  }
  .control-icon {
    $icon-size: 30px;
    width: $icon-size;
    height: $icon-size;
  }
}
