.panel {
  position: absolute;
  left: 50%;
  z-index: 100;
  border-radius: $panel-border-radius;
  padding: $panel-padding-y $panel-padding-x;
  padding-bottom: 10px;
  margin-left: -($control-arrow-width * 2);
  // TODO: remove this arbitrary height so the height is calculated naturally
  background-color: $panel-background-color;
  color: #fff;
  box-shadow: 0 1px 2px rgba(#000, 0.25);
  // Dropdown arrow
  &:after {
    content: '';
    position: absolute;
    left: $control-arrow-width;
    border: solid $control-arrow-width transparent;
  }
}

.panel-position-top {
  bottom: 100%;
  margin-bottom: $panel-position-offset;
  &:after {
    top: 100%;
    border-top-color: $panel-background-color;
    border-bottom-width: 0;
  }
}
.panel-position-bottom {
  top: 100%;
  margin-top: $panel-position-offset;
  &:after {
    bottom: 100%;
    border-bottom-color: $panel-background-color;
    border-top-width: 0;
  }
}

.panel h2 {
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 0;
  text-align: left;
}

.panel label {
  margin-right: $panel-padding-x;
  font-size: 0.8rem;
}
