.setting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  input[type="checkbox"] {
    margin-right: 8px;
  }
}

#setting-fps {
  flex-grow: 1;
}

#setting-stroke-width {
  width: 100px;
}

.setting-value {
  width: 20px;
  margin-left: 5px;
  font-size: 0.8rem;
  text-align: center;
}
