@use "sass:math";

.story {
  // Fit story container to its contents
  display: inline-flex;
  flex-direction: column;
  border: solid $story-border-width $panel-background-color;
}

.story-stage {
  display: inline-block;
  position: relative;
  // If supported by the user's browser, keep the frame contained within the
  // viewport while also maintaining the aspect ratio
  @supports (aspect-ratio: auto) {
    max-width: 100vw;
    max-height: calc(100vh - 120px);
    aspect-ratio: 16 / 9;
  }
}

.selected-frame,
.previous-frame {
  // Shrink the displayed width/height canvas by half
  width: 100%;
  max-width: $frame-width;
  max-height: $frame-height;
  aspect-ratio: inherit;
  @media screen and (max-width: $app-max-width) {
    max-width: none;
    max-height: none;
  }
}

.previous-frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  .story-playing & {
    display: none;
  }
}
.previous-frame-1 {
  opacity: 0.3;
}
.previous-frame-2 {
  opacity: 0.2;
}
.previous-frame-3 {
  opacity: 0.1;
}
.previous-frame-4 {
  opacity: 0.05;
}

.selected-frame {
  position: relative;
  z-index: 10;
}

.story-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px $panel-background-color;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 0 8px;
  background-color: $panel-background-color;
  white-space: nowrap;
  @media screen and (max-width: $app-mobile-width) {
    border-left: 1px;
    border-right: 1px;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
