.control-story-list > .panel {
  padding: 0;
}

.story-list-container {
  top: 100%;
  left: 2px;
  bottom: auto;
  width: 180px;
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
  &:after {
    top: auto;
    bottom: 100%;
    left: 10px;
    border: solid 10px transparent;
    border-bottom-color: $panel-background-color;
    border-top-width: 0;
  }
}

.story-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $story-list-header-padding;
  h2 {
    padding-left: ($story-list-item-padding-x - $story-list-header-padding);
  }
  .control-button {
    padding: 2px;
  }
  .control-icon {
    $icon-size: 20px;
    width: $icon-size;
    height: $icon-size;
  }
}

.story-list-container h2 {
  margin-bottom: 0;
  text-align: left;
}

.story-list {
  max-height: 200px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  overflow-y: auto;
}

.story-list-item {
  margin: 0;
  padding: $story-list-item-padding-y $story-list-item-padding-x;
  background-color: rgba(#fff, 0.1);
  list-style-type: none;
  border: solid 1px $panel-background-color;
  border-top-width: 0;
  font-size: 0.8rem;
  &:last-child {
    border-bottom-width: 0;
  }
  &:hover:active {
    background-color: $control-background-color-active;
  }
}
