.frame-timeline {
  margin: 0 20px;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}
.timeline-thumbnail {
  width: 64px;
  height: 36px;
  margin-right: 4px;
  background-color: #fff;
  &:last-child {
    margin-right: 0;
  }
}
