.frame-timeline {
  margin: 0 20px;
  flex-grow: 1;
  border-radius: 3px;
  background-color: #234;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
}
.timeline-thumbnail {
  opacity: 0.3;
  width: 64px;
  height: 36px;
  margin-right: 2px;
  background-color: #fff;
  &:last-child {
    margin-right: 0;
  }
  &.selected {
    opacity: 1;
  }
}
