$story-border-width: 1px;

$frame-width: 800px;
$frame-height: 450px;

$panel-position-offset: 15px;
$panel-background-color: #234;

$control-background-color: #234;
$control-background-color-active: #5be;
$control-arrow-width: 10px;
