// Colors
$color-blue: #5be;
$color-green: #6c3;
$color-slate-dark: #234;
$color-slate-light: #456;

$story-border-width: 1px;

$frame-width: 800px;
$frame-height: 450px;

$panel-position-offset: 15px;
$panel-border-radius: 5px;
$panel-background-color: #234;

$control-padding: 8px;
$control-padding-panel: 6px;
$control-background-color: $color-slate-dark;
$control-background-color-labeled: $color-slate-light;
$control-background-color-active: $color-blue;
$control-arrow-width: 10px;

$story-list-header-padding: 1px;
$story-list-item-padding-x: 10px;
$story-list-item-padding-y: 6px;
