@use 'variables' as *;

.control-open-story > .panel {
  padding-left: 0;
  padding-right: 0;
}

.story-list-container {
  width: 180px;
  text-align: left;
  &:after {
    top: auto;
    bottom: 100%;
    left: 10px;
    border: solid 10px transparent;
    border-bottom-color: $panel-background-color;
    border-top-width: 0;
  }
  h2 {
    padding-left: $story-list-item-padding-x;
    text-align: left;
  }
}

.story-list {
  max-height: 200px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  overflow-y: auto;
}

.story-list-item {
  margin: 0;
  padding: $story-list-item-padding-y $story-list-item-padding-x;
  background-color: rgba($color-white, 0.1);
  list-style-type: none;
  border: solid 1px $panel-background-color;
  border-top-width: 0;
  font-size: 0.8rem;
  &:last-child {
    border-bottom-width: 0;
  }
  &:hover:active {
    background-color: $control-background-color-active;
  }
}
