.timeline {
  position: relative;
  // If a width of zero (or any arbitrary pixel value) isn't set, the timeline
  // will cause the control container to overflow beyond the edge of the story
  // container
  width: 0;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background-color: $control-background-color;
  list-style-type: none;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  // Enable inertia scrolling on iOS
  -webkit-overflow-scrolling: touch;
  counter-reset: thumbnail;
  @include is-mobile() {
    background-color: darken($panel-background-color, 10%);
  }
}
.timeline-thumbnail {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  &:last-child {
    margin-right: 0;
  }
  &:after {
    opacity: 0.7;
    pointer-events: none;
    position: absolute;
    top: 1px;
    right: 1px;
    $index-size: 14px;
    width: $index-size;
    height: $index-size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-gray-dark;
    color: $color-white;
    counter-increment: thumbnail;
    content: counter(thumbnail);
    font-family: sans-serif;
    font-size: 0.6rem;
    color: $color-white;
  }
  &.selected:after {
    opacity: 1;
  }
}
.timeline-thumbnail-canvas {
  pointer-events: none;
  width: 64px;
  height: 36px;
  opacity: 0.5;
  background-color: $color-white;
  .timeline-thumbnail.selected & {
    opacity: 1;
  }
}
