@use 'sass:math';
@use 'sass:string';

// Colors
$color-white: #fff;
$color-blue: #39f;
$color-green: #4a1;
$color-gray-darkest: #111;
$color-gray-dark: #222;
$color-gray-light: #666;
$color-black: #000;

$page-background-color: $color-gray-darkest;

$story-border-width: 1px;
$story-border-color: $color-gray-light;

$frame-width: 800px;
$frame-height: 450px;
// If we omit the quotes, Sass will treat the value as a mathematical
// expression, which causes a compilation warning because using / for division
// is deprecated (<https://sass-lang.com/d/slash-div>); to solve, write the
// aspect ratio as a string, and then immediately unquote it with the built-in
// unquote() function
// (<https://sass-lang.com/documentation/modules/string#unquote>)
$frame-aspect-ratio: string.unquote('16 / 9');

$app-max-width: $frame-width + ($story-border-width * 2);
$app-mobile-width: 500px;
$app-mobile-height: 375px;

$panel-position-offset: 15px;
$panel-border-radius: 5px;
$panel-padding-x: 10px;
$panel-padding-y: 5px;
$panel-background-color: $color-gray-dark;

$slider-thumb-size: 14px;
$slider-thumb-color: $color-blue;
$slider-track-visible-height: 2px;
$slider-track-padding: math.div($slider-thumb-size - $slider-track-visible-height, 2);
$slider-track-total-height: $slider-track-visible-height + ($slider-track-padding * 2);

$control-padding: 7px;
$control-padding-panel: 6px;
$control-background-color: $color-gray-dark;
$control-background-color-labeled: $color-gray-light;
$control-background-color-active: $color-blue;
$control-arrow-width: 10px;

$story-list-item-padding-x: 10px;
$story-list-item-padding-y: 6px;
